<h2>Teams</h2>
<!-- <ul *ngFor="let team of teams">
  <li>{{team.name}}</li>
</ul>   -->
<input #newTeamName type="text" pInputText placeholder="Nazwa zespołu"/> &nbsp;
<input #newTeamDesc type="text" pInputText placeholder="Opis"/> &nbsp;
<button type="button" pButton label="Dodaj" (click)="addTeam(newTeamName.value, newTeamDesc.value)"></button> &nbsp; 
<!-- <p-button label="Add2" (onClick)="addTeam(newTeam.value)"></p-button> -->
<br><br>
<p-table [value]="teams" (onEditComplete)="onEditComplete($event)">
  <ng-template pTemplate="header">
    <tr>
      <th>Id</th>
      <th>Nazwa</th>
      <th>Opis</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-team>
    <tr>
      <td>{{ team.id }}</td>
      <td [pEditableColumn]="team" [pEditableColumnField]="'name'" > 
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input type="text" [(ngModel)]="team.name" required>
            <!-- <input (blur)="updateTeam({data: team})"> -->
          </ng-template>
          <ng-template pTemplate="output">
              {{ team.name }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td [pEditableColumn]="team" [pEditableColumnField]="'description'" >
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input type="text" [(ngModel)]="team.description">
          </ng-template>
          <ng-template pTemplate="output">
            {{ team.description }}
          </ng-template>
      </p-cellEditor>
      </td>
    </tr>
  </ng-template>

  
</p-table>

