<h2>Zespoły</h2>
<!-- <ul *ngFor="let team of teams">
  <li>{{team.name}}</li>
</ul>   -->

<input #newTeamName type="text" pInputText placeholder="Nazwa zespołu"/> &nbsp;
<input #newTeamDesc type="text" pInputText placeholder="Opis"/> &nbsp;
<button type="button" pButton label="Dodaj" (click)="addTeam(newTeamName.value, newTeamDesc.value)"></button> &nbsp; 
<br><br>

<p-table [value]="teams" (onEditComplete)="onEditComplete($event)">
  <ng-template pTemplate="header">
    <tr>
      <th width="40px">Id</th>
      <th>Nazwa</th>
      <th>Opis</th>
      <th width="75px"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-team>
    <tr>
      <td>{{ team.id }}</td>
      <td [pEditableColumn]="team" [pEditableColumnField]="'name'" > 
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input type="text" [(ngModel)]="team.name" required>
            <!-- <input (blur)="updateTeam({data: team})"> -->
          </ng-template>
          <ng-template pTemplate="output">
              {{ team.name }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td [pEditableColumn]="team" [pEditableColumnField]="'description'" >
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input type="text" [(ngModel)]="team.description">
          </ng-template>
          <ng-template pTemplate="output">
            {{ team.description }}
          </ng-template>
      </p-cellEditor>
      </td>
      <td>
        <button type="button" pButton label="X" (click)="deleteTeam(team.id)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog header="Potwierdzenie" [(visible)]="display">
  Content
</p-dialog>

